<h1>Seja Bem-Vindo!</h1>

<p>O idioma usado nessa aplicação é: <strong> <%= locale %> </strong> </p>

<p> Meu curso é o curso de <%= @curso%> </p>

<p>Data: <%= Date.today %> </p>

<p>
	Nome <%= @meu_nome %>
</p>


<%= render "menu"%>